extends layout

block append head
  script(src='/collage.js')

block header
  #form_div
    form(action="#") Enter a species name: 
      input#search_term(type='text', size='50')

block content
  #collage
