body, html
  margin 0
  padding 0

body
  font-family 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif
  background #B4EDED
  color #2E2E2E

a
  text-decoration none
  color #0404B4
  &:hover
    color #8181F7

#top_section
  background #ffffff /* Old browsers */
  background -moz-linear-gradient(top, #ffffff 0%, #b4eded 100%) /* FF3.6+ */
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#b4eded)) /* Chrome,Safari4+ */
  background -webkit-linear-gradient(top, #ffffff 0%,#b4eded 100%) /* Chrome10+,Safari5.1+ */
  background -o-linear-gradient(top, #ffffff 0%,#b4eded 100%) /* Opera 11.10+ */
  background -ms-linear-gradient(top, #ffffff 0%,#b4eded 100%) /* IE10+ */
  background linear-gradient(to bottom, #ffffff 0%,#b4eded 100%) /* W3C */
  filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b4eded',GradientType=0 )") /* IE6-9 */

#header
  text-align center
  padding 20px 0px 40px
  h2
    font-size 1.8em
    margin 0px
  .sponsored
    color #585858
    font-size .9em
  img
    vertical-align bottom
  #user_count
    color #585858
    font-size .6em

#form_div
  font-size 1.3em
  text-align center
  margin-bottom 10px
  form
    margin-bottom 0px

#message_div
  font-style italic
  text-align center
  color #B82D1E
  height 25px

.search_term
  font-weight bold

input
  font-family 'Helvetica Neue', Helvetica, Arial Geneva, sans-serif
  letter-spacing 1px
  font-size 1.1em

#bottom_section
  margin-left 50px

#image_div
  .image_caption
    font-size 1.3em
    margin-bottom 5px
  #initial_message
    color #848484
    font-style italic
    text-align center
    font-size 1.8em
    padding-top 50px
  .stream_item
    margin 0px 0px 60px 0px
  .slideshow
    width 560px
    height 350px
    margin 10px 0px 15px 20px
    float left
  .slideshow img
    border 1px solid #424242
    box-shadow 0 0 20px rgba(0,0,0,0.8)
    background-color #ffffff
  .slideshow_caption
    font-size .8em
    margin-left 20px
    width 560px
    line-height 180%

#index
  font-size 1.5em

#collage
  padding-bottom 400px
  margin-bottom 400px
  width 840px
  div.cell
    width 130px
    height 130px
    float left
    margin 5px
  div.slideshow
    width 130px
    height 130px
    padding 1px
    border 1px #BDBDBD solid
    box-shadow 0 0 10px rgba(0,0,0,0.4)
    background-color #424242
  img
    position absolute
  div.left
    clear both